@media screen and (max-width: 1450px) {
   .mainpics-item{
      left:0!important;
   }
   .work2{
      top:300px!important;
      float: left;
   }
   .dogcatal{
      flex-direction: column;
      color: black;
   }
}
@media screen and (max-width: 1350px) {
   .menu{
      margin-left:7%;
   }
}
@media screen and (max-width: 1280px) {

   .reviewcont{
      margin-left: 200px;
   }
}
@media screen and (max-width: 1230px) {
   .menu{
      margin-left:6%;
   }
}
@media screen and (max-width: 1100px) {
   header{
      display: flex;
      flex-direction: column;
   }
   #sitemap{
      margin-right: 50px;
   }
    #wrapp {
       width: 95%;
    }
   #twitter{
      display:none;
   }
    #content {
       width: 60%;
       padding: 3% 4%;
    }
    #sidebar {
       width: 30%;
    }
    #searchform {
      top:0;
      right: 0;
      margin-top:20px;
   }
    #sidebar .aside-menu {
       padding: 8% 7%;
       margin-bottom: 10px;
    }
    .rel{
      display:none;
    }
    .topnav a{
      display: none;
   }
   .topnav a.icon{
      float: left;
      margin-top: -23px;
      display: block;
      color:black;
      font-size: 25px;
      margin-left:0;
   }
   nav{
      width:100%;
   }
   .topnav.responsive{
      position: relative;
      top:50px;
      }
   header .topnav.responsive{
      height: 340px;
      }
   .topnav.responsive a.icon{
      position: absolute;
      top: -50px;
      left: 0;
      }
   .topnav.responsive a{
      float: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      left: 100px;
      }
   .col-xs-6 .col-sm-6 .col-md-6
      {
         width:100%!important;
      }
      .team_cards{
         flex-direction: column;
      }
      .team_cards1{
         flex-direction: column;
      }
      .cards{
         margin:0;
      }
      .reviewcont{
         margin-left: 130px;
      }
      .buldpic{
         width: auto;
         height: auto;
      }
      .infimg{
         width: auto;
         height: auto;
      }
      .telephones{
         align-self:flex-end;
      }
      .logo{
         margin-right: 450px;
      }
 }
 @media screen and (max-width: 700px){
   #sitemap{
      margin-right:0;
   }
   .reviewcont{
      margin-left: 70px;
   }
   .logo{
      margin-right: 250px;
   }
 }
 @media screen and (max-width: 600px) {
    .mapmain{
       margin-left: 130px;
    }
   footer{
      height: 230px;
   }
    #header {
       height: auto;
    }
    #main-nav {
       position: static;
    }
    #content {
       width: auto;
       float: none;
       margin: 20px 0;
    }
    #sidebar {
       width: 100%;
       float: none;
       margin: 0;
    }
   .col-xs-6 .col-sm-6 .col-md-6
      {
         width:100%!important;
      }
      #sitemap{
         margin-left:20px;
      }
      .reviewcont{
         margin-left: 50px;
      }
      .sidebar{
         display: block;
      }
 } 
@media screen and (max-width: 500px) {
    html {
        -webkit-text-size-adjust: none;
     } 
   .menu{
         margin-left:0%;
   }
    .content{
       float:none;
    }
    #iframe{
       width:450px;
       height: 300px;
    }

   .flex-container{
      display: none;
   }
   .reviewcont{
      margin-left: 0;
   }
   #sitemap{
      margin-right: 150px;
   }
   .contacts{
      margin-left: 0;
   }
   .mapcont{
      width:400px;
      height: 300px;
   }
   .dogcard{
      width: 330px;
      margin: 30px 0 0 25px;
   }
   .cat1{
      top:30px;
   }
   .mainpics{
      height:500px;
   }
   .dogcard{
      height: auto;
   }
   .dogcardinf{
      width:270px;
   }
   h2{
      display: none;
   }
}