body {
	color: #8f8f8f;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: #e0dede;
	border-top: 5px solid #7e7e7e;
	margin: 0;
	letter-spacing: 0.35ch;
}

#heading{
	margin: 13px 13px;
	border-bottom: 2px solid #7e7e7e;
}
#content{
	margin-left: 280px;
}
#content1{
	width:100%;
}
section {
	padding-bottom: 50px;
}
body, html, html a {
    -webkit-font-smoothing: antialiased;
}

img {
	border: 0;
	max-width: 100%;
}

div {
    display: block;
}

h1{
	color:rgb(182, 126, 126)!important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

input[type="text"] {
	background-color: #dbdbdb;
	border: 1.5px solid #755151;
	height: 30px;
	color: #999494;
	padding: 0 10px;
	vertical-align: top;
}
h1{
	margin-top:50px;
}
li{
	list-style:none;
}

article, aside, details, figcaption, figure, footer, header hgroup, menu, nav, section { 
    display: block;
}

a{
	text-decoration: none;
}
header{
	border-bottom: 5px solid #7e7e7e;
	width:100%;
	background:#f3f3f3;
	display: flex;
}

.logo{
	text-transform: uppercase;
	color:#7e7e7e;
	font-weight:800;
	font-size: 24px;
	cursor: pointer;
	margin-top:6px;
	margin-left:6%;
}

.menu{
	margin-top:26px;
	margin-left:12%;
}
.search{
	line-height: 0.85;
	margin-left:20%;
	max-height: 80px;
}
.topnav a{
	color:#7e7e7e;
	text-align: center;
	padding:12px 10px;
	font-size: 15px;
	font-weight: bold;
}
.topnav a:hover{
	color:#fff;
	background-color:#7e7e7e;
}
.topnav .icon{
	display: none;
}
button {
	color: black;
	background-color: #b67e7e;
	border: none;
	height: 33px;
	font-family: 'Oswald', sans-serif;
}

.aside-menu {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	margin: 0;
	padding: 0 10px;
}

nav a img{
	max-width:75px;
	max-height:50px; 
	vertical-align: middle;
    float: left;
    background: #f3f3f3;
 
}

.mainpics {
    position: relative;
    margin: 0 -2px;
}

.mainpics .mainpics-item {
	display:block;
    padding: 0 2px;
	margin-bottom: 4px;
	float: left;
}

.mainpics-sizer{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.mainpis:before {
    content: " ";
    display: table;
}

#wrapper {

	margin: auto;
}

*{
	padding: 0 0;
	margin: 0 0;
}

aside {
	float: left;
	width: 260px;
}

aside > h2 {
	background: #b67e7e;
	font: 14px 'Oswald', sans-serif;
	color: black;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}

footer {
	background-color: #7e7e7e;
}

nav a {
    text-decoration: none;
}

header form {
	margin-top:8px;
}

nav li {
	position: relative;
	list-style-position: inside;
	padding: 12px;
}

.mapcont{
	border: solid 3px black;
}
.work-overlay {
    vertical-align: middle;
	border: 0;
	max-width:560px;
	max-height:395.172px;
}

.work .work-content{
	bottom: 0;
    opacity: 0;
    padding: 25px;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	max-height:450px;
}

.work .work-content, .work .work-overlay:before {
    position: absolute;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
    left: 0;
}
.content-wrap{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	z-index: 3;
	text-decoration: none;
	text-decoration-line: none;
    text-decoration-style: initial;
	text-decoration-color: initial;
	max-width: 450px;
}

.img-responsive{
	display: block;
    max-width: 100%;
}


.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
	border: none;
}


.aside-menu a {
	color: black;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

figure img {
	display: block;
	border: 1px solid #fff;
	outline: 1px solid #c9c9c9;
}

p {
	margin: 20px 0;
}



figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 14px;
	color: #29c5e6;
}

.team-row figure {
	margin-top: 20px;
}

.team-row figure + figure {
	margin-left: 43px;
}

footer {
	background: rgb(182, 126, 126);
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 95px;
}

footer h3 {
	font: 14px 'Oswald', sans-serif;
	color: black;
	border-bottom: 1px solid #919191;
	margin: 0 0 10px 0;
}

footer a {
	color: rgb(36, 31, 31);
}
footer a:hover {
	color:#fff;
}

#sitemap {
	width: 200px;
	float: left;
	margin-left: 120px;
	padding-right: 15px;
	margin-right: 230px;
}

#sitemap div {
	display: inline-block;
}

#sitemap div + div {
	margin-left: 40px;
}

#sitemap a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	margin-bottom: 7px;
}

#sitemap a:hover {
	color:black;
	text-decoration: underline;
}

#social {
	margin-left: 20px;
}
.instagram{
	width:40px;
	height:40px;
	margin-right: 4px;
}
.telegram{
	width:40px;
	height:40px;
	margin-right: 4px;
}
.vk{
	width:40px;
	height:40px;
	margin-right: 4px;
}
.mail{
	width:40px;
	height:40px;
	margin-right: 4px;
}
.twitter{
	width:40px;
	height:40px;
	margin-right: 4px;
}
.viber{
	width:40px;
	height:40px;
	margin-right: 4px;
}

.margin-b-5{
	margin-bottom:5px!important;
}
.str1{
	color:#fff;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	font-size:22px;
}
h4{
	font-weight: bold;
	font-size: 18px;
	border-bottom: solid 2px rgb(165, 98, 98);
}
.head1{
	text-align: center;
	font-weight: bold;
	color: rgb(117, 57, 57);
}
*{
	box-sizing: bordre-box;
	transition: all .2s;
}
.active{
	border-bottom: 2px solid #7e7e7e;
}
.main_team{
	padding: 50px 0 160px 0;
	color:rgb(73, 55, 42);
	text-align: center;
	margin-left:10%;
	margin-right:10%;
}
.team_cards{
	display:flex;
}
.team_cards1{
	display:flex;
}
.cards{
	margin:60px 130px 0 130px;
}
.photo{
	background:black;
	width:260px;
	height:260px;
	margin:20px auto;
}
.photo1{
	width:260px;
	height:260px;
}
.headh1{
	border-bottom: 2px solid #7e7e7e;
}
.headteam{
	color:black;
	text-align: center;
}
.dogcatal{
	display: flex;
	margin-bottom: 15px;
	color: black;
}
.dogcatal1{
	display: flex;
	margin-bottom: 15px;
	color: black;
}
.photodog{
	width:130px;
	height:110px;
}
.dogcard{
	display: flex;
	align-items: stretch;
	width:400px;
	height: 110px;
	background-color: rgb(236, 184, 179);
	margin:40px 50px 0 65px;
	border-right: 2px solid rgb(165, 98, 98);
}
.dogphoto{
	height:110px;
	width:130px;
}
.dogcardinf{
	width:270px;
	padding:5px;
}
.phdog{
	text-decoration: none;
}
/*section > h2 {
	background: #29c5e6;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 10px;
	margin: 30px 0 0 0;
}*/
#toTop {
	width:60px;
	height:60px;
	opacity:0.3;
	position:fixed;
	bottom:20px;
	right:20px;
	display:none;
	text-indent:-9999px;
	background: url(../images/socialicon/1525974184_1.png) no-repeat;
}
.main-cont-bul{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.h3am{
	text-align: center;
}
.buldpic{
	height: auto;
	align-self: center;
	margin-bottom: 50px;
}
.infimg{
	width:900px;
	height: 550px;
}
.text-am{
	color:rgb(22, 9, 9);
}
.contacts{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.infcont{
	align-self:center ;
}
.mapmain {
	width:240px;
	height:170px ;
}
.h4dog{
	padding:4px;
}
.reviewcont{
	display:flex;
	align-items: center;
	flex-direction: column;
}

.form label{
	width: 180px;
	float: left;
	color: rgb(99, 75, 75);
   }
.form input{
	width: 400px;
   }
   
.form textarea{
	width: 400px;
   }
.form textarea{
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	line-height: 150%;
}
.confirm{
	float: none !important;
}
   
.form input[type="checkbox"]{
	width: auto;
 }
 .form input, .form textarea, .form select{
	padding: 9px;
	border: 1px solid rgb(165, 163, 163);
	border-radius: 5px;
}
.form input, .form textarea, .form select{
 padding: 9px;
 border: 1px solid #E5E5E5;
 border-radius: 5px;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
 background: #FFF left top repeat-x;
}
.form input:hover, .form textarea:hover, .form select:hover,
.form input:focus, .form textarea:focus, .form select:focus{
 border-color: #C9C9C9;
 box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.form p{
	margin-bottom: 20px;
   }
.form label{
 width: 180px;
 float: left;
 padding-top: 5px;
}
.form .submit input{
	width: auto;
	background: #617798;
	color: #FFF;
	padding: 9px 15px;
	border: 0;
	font-size: 14px;
	cursor: pointer;
}
   
.form .submit input:hover{
	background: #2B415E;
}
.formTextRed{
	color: red;
}
.comphis{
	display: flex;
	flex-direction: column;
	align-items:center;
}
.owl-carousel{
	margin: 0 auto;
	text-align: center;
}
.sliderimg{
max-width: 1200px;
max-height: 800px;
}